:root {
    --white-text: #FFFFFF;
    --black-text: #000000;

    --white-background: #FFFFFF;
    --navy-background: #094067;

    --blue-button: #3DA9FC;
    --blue-button-hover: #008df8;

    --crann-logo-green: #73C7A7;
    --crann-logo-red: #F1676E;
    --crann-logo-yellow: #FDC17A;
    --crann-logo-purple: #A1A0D0;
    --crann-logo-blue: #2496AD;
    --crann-logo-orange: #F7946B;

    --cta-normal: #ef4565;
    --cta-hover: #f12349;
}

/*
HOME PAGE
*/

body{
    padding: 0;
    margin: 0;
    font-size: large;
    font-family: "Noto Sans JP", sans-serif;
}

header{
    background-color: var(--navy-background);
}

header nav{
    display: flex;
    justify-content: space-between;
    font-size: large;
}

header nav h1{
    align-self: center;
    margin-left: 2em;
    color: white;
}

header nav ul{
    display: flex;
    list-style-type: none;
    align-self: center;
}

header nav ul li a{
    text-decoration: none;
    margin-right: 8em;
    color: white;
}

header nav ul li a:hover{
    border-bottom: 2px solid;
}

.currentPage{
   text-decoration: none;
   border-bottom: 2px solid;
}

.cta{
    align-self: center;
    margin-right: 2em;
    border-radius: 0.5em;
    padding: 1em;
    background-color: var(--cta-normal);
    transition: 0.2s ease-in;
}

.cta:hover{
    background-color: var(--cta-hover);
}


.cta a{
    text-decoration: none;
    color: white;
}

.headerImage{
    width: auto;
    height:70vh;
    background-image: url("/src/assets/homepage/crann-centre-building-1400w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.introductionContent{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.introduction {
    padding: 1em;
}

.introduction-content{
    background-color: var(--white-background);
    flex: 2;
    padding: 1em;
}

.campaign{
    background-color: var(--navy-background);
    color: var(--white-text);
    padding: 1em;
}

.campaign p:last-child{
    margin-top: 2em;
}

p.readmore{
    margin-top: 2em;
}

p.readmore a{
    background-color: var(--blue-button);
    color: var(--white-text);
    text-decoration: none;
    padding: 1em;
    border-radius: 0.5em;
}

.services-provided{
    padding: 1em;
    height: 65vh;
}

.servicesContent{
    display: flex;
    flex-direction: row;
}

.genmodel-image{
    height: 40vh;
    flex: 1;
}

.services-provided-content{
    flex: 2;
    padding: 1em;
}

.services-provided > p{
    text-align: center;
}

.homeinfo{
    background-color: var(--blue-button);
    color: var(--white-text);
    padding: 1em;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.commonQuestions{
    background-color: var(--navy-background);
    color: var(--white-text);
    padding: 1em;
}

.commonQuestions h2{
    text-align: center;
}

.commonQuestions details{
    background-color: var(--blue-button);
    color: var(--white-text);
    padding: 2em;
    margin-top: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1em;
}

footer{
    background-color: var(--navy-background);
    color: var(--white-text);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
}

footer > div{
    padding: 1em;
}

footer h3{
    text-align: center;
    font-size: x-large;
}

footer br{
    color: white;
    font-size: 100px;
}

footer p{
    text-align: left;
}

footer .footer-contact-socials{
    display: flex;
    justify-content: space-between;
}

footer .footer-contact-socials p a{
    text-decoration: none;
    color: black;
}

footer .footer-pages p a{
    text-decoration: none;
    color: black;
}

footer .footer-pages p:last-child{
    margin-top: 5em;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    header nav ul li{
        margin-right: 2em;
    }

    .cta{
        display: none;
    }
    
    .headerImage{
        background-image: url("/src/assets/homepage/crann-centre-building-900w.jpg");
    }

    h2{
        text-align: center;
    }

    .crann-centre-logo{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    p.readmore{
        text-align: center;
    }
}


@media screen and (min-width: 500px) and (max-width: 899px) {
    p{
        font-size: 2vh;
    }
    
    header nav ul li a{
        display: none;
    }

    .cta{
        display: none;
    }
    
    .headerImage{
        background-image: url("/src/assets/homepage/crann-centre-building-500w.jpg");
    }

    h2{
        text-align: center;
    }

    .crann-centre-logo{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .introductionContent{
        display: flex;
        flex-direction: column;
        padding: 1em;
        height: 70vh;
    }

    .services-provided{
        height: 110vh;
    }

    .servicesContent{
        flex-direction: column;
    }

    .genmodel-image{
        margin-left: auto;
        margin-right: auto;
    }

    p.readmore{
        text-align: center;
    }

    .homeinfo{
        flex-direction: column;
        text-align: center;
    }

    .homeinfo p{
        margin-top: 2em;
        font-size: 1em;
    }

    footer{
        flex-direction: column;
    }

    footer > div{
        margin-top: 2em;
        border: 1px solid;
        padding: 2em;
    }
}